{% load staticfiles %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{% static 'images/faces/profi.jpg' %}" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name">슈슈<i class="mdi mdi-heart text-danger"></i>귀죵</p>
                        <div>
                            <small class="designation text-muted">Admin</small>
                            <span class="status-indicator online"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">대시보드</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-calendar-range"></i>
                <span class="menu-title">수입/지출</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expense:expense_home' %}">가계부</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expense:expense_input' %}">가계부 입력</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-bank"></i>
                <span class="menu-title">은행관리</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-credit-card"></i>
                <span class="menu-title">카드관리</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-pencil-box-outline"></i>
                <span class="menu-title">예산관리</span>
            </a>
        </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                <i class="menu-icon mdi mdi-calendar-range"></i>
                <span class="menu-title">대출관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loan:loan_main' %}">대출조회</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>