{% extends 'accountbook_index.html' %}
{% load staticfiles %}
{% block body_content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">수입/지출 입력</h4>
                    <form class="form-sample" action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">비용 유형</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="category"
                                                       id="membershipRadios1" value="plus"> 수입
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="category"
                                                       id="membershipRadios2" value="minus" checked=""> 지출
                                                <i class="input-helper"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <link rel="stylesheet" href="{% static 'css/style.css' %}">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">날짜</label>
                                    <!--<div class="jquery-calander">-->
                                    <div class="col-sm-9">
                                        {{ form.usedate }}
                                        <input type="text" class="date-picker" autocomplete="off" placeholder="dd/mm/yyyy" name="usedate"
                                               value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">사용 분류</label>
                                    <div class="col-sm-9">
                                        {{ form.field }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">사용 상세</label>
                                    <div class="col-sm-9">
                                        {{ form.subscribe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">비용</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" autocomplete="off" placeholder="1,000,000" name="price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">정산 방식</label>
                                    <div class="col-sm-9">
                                        {{ form.payment_logic }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">비고</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="할인/적립 기타 등등" name ='etc'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-success mr-2">저장</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ usedate }}
    {{ etc }}
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">엑셀 자료 업로드</h4>
                    <form class="form-sample">
                        <div class="form-group">
                            <input type="file" name="img[]" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled=""
                                       placeholder="Choose File ...">
                                <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-info" type="button">파일선택</button>
                                    </span>
                            </div>
                            <br>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success mr-2">업로드</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<!-- End custom js for this page-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock body_content %}