{% extends 'accountbook_index.html' %}
{% load staticfiles %}
{% block body_content %}

    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">검색 필터</h4>
                        <form class="form-sample">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">비용 유형</label>
                                        <div class="col-sm-3">
                                            <div class="form-radio">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                           id="membershipRadios1" value="" checked=""> All
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-radio">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                           id="membershipRadios1" value=""> 수입
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-radio">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="membershipRadios"
                                                           id="membershipRadios2" value="option2"> 지출
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">날짜</label>
                                        <div class="col-sm-4">
                                            <input class="date-picker" placeholder="dd/mm/yyyy">
                                        </div>
                                        <div class="col-sm-1">
                                            ~
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="date-picker" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">사용 분류</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>급여</option>
                                                <option>인센</option>
                                                <option>기타</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">정산 방식</label>
                                        <div class="col-sm-9">
                                            <select class="form-control">
                                                <option>자동이체</option>
                                                <option>현금</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">키워드검색</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="키워드 입력">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-success mr-2">검색</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">가계부 리스트</h4>
                        <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>날짜</th>
                          <th>유형</th>
                          <th>사용분류</th>
                          <th>상세</th>
                          <th>비용</th>
                          <th>지불방식</th>
                          <th>비고</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in p %}
                        <tr>
                            <td>{{ data.usedate }}</td>
                            <td>
                            {% if data.category == 'plus' %}수입{% else %}지출{% endif %}
                            </td>
                            <td>{{ data.field }}</td>
                            <td>{{ data.subscribe }}</td>
                            {% if data.category == 'plus' %}
                            <td class="text-success"> {{ data.price }} ₩</td>
                            {% else %}
                            <td class="text-danger"> {{ data.price }} ₩</td>
                            {% endif %}
                            <td>{{ data.payment_logic }}</td>
                            <td>{{ data.etc }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <td>2018-10-10</td>
                          <td>지출</td>
                          <td>공과금</td>
                          <td>9월 관리비</td>
                          <td class="text-danger"> 200,100 ₩</td>
                          <td>
                            <label class="badge badge-info">현대카드 M</label>
                          </td>
                          <td>자동이체할인 100원</td>
                        </tr>
                        <tr>
                          <td>2018-10-25</td>
                          <td>수입</td>
                          <td>급여</td>
                          <td>9월 JB 급여</td>
                          <td class="text-success"> 1,000,100 ₩</td>
                          <td>
                            <label class="badge badge-success">신한은행</label>
                          </td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>2018-10-10</td>
                          <td>지출</td>
                          <td>주유비</td>
                          <td>주유 30L</td>
                          <td class="text-danger"> 50,100 ₩</td>
                          <td>
                            <label class="badge badge-warning">현대카드 M</label>
                          </td>
                          <td>주유할인 30원</td>
                        </tr>
                        <tr>
                          <td>2018-10-10</td>
                          <td>지출</td>
                          <td>꾸밈비</td>
                          <td>마스크 할부 (2/20히 납부)</td>
                          <td class="text-danger"> 100,100 ₩</td>
                          <td>
                            <label class="badge badge-danger">BS렌탈카드</label>
                          </td>
                          <td>렌탈할인 30원</td>
                        </tr>
                        <tr>
                          <td>2018-11-10</td>
                          <td>지출</td>
                          <td>공과금</td>
                          <td>9월 관리비</td>
                          <td class="text-danger"> 200,100 ₩</td>
                          <td>
                            <label class="badge badge-info">현대카드 M</label>
                          </td>
                          <td>자동이체할인 100원</td>
                        </tr>
                        <tr>
                          <td>2018-10-25</td>
                          <td>수입</td>
                          <td>급여</td>
                          <td>9월 JB 급여</td>
                          <td class="text-success"> 1,000,100 ₩</td>
                          <td>
                            <label class="badge badge-success">신한은행</label>
                          </td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>2018-10-10</td>
                          <td>지출</td>
                          <td>주유비</td>
                          <td>주유 30L</td>
                          <td class="text-danger"> 50,100 ₩</td>
                          <td>
                            <label class="badge badge-warning">현대카드 M</label>
                          </td>
                          <td>주유할인 30원</td>
                        </tr>
                        <tr>
                          <td>2018-10-10</td>
                          <td>지출</td>
                          <td>꾸밈비</td>
                          <td>마스크 할부 (2/20히 납부)</td>
                          <td class="text-danger"> 100,100 ₩</td>
                          <td>
                            <label class="badge badge-danger">BS렌탈카드</label>
                          </td>
                          <td>렌탈할인 30원</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<!-- End custom js for this page-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock body_content %}